.Hero {
  background-color: $light-blue;
  width: 100vw;
  @include flex(space-between, center, row, white);
  .text {
    margin: 50px;
    @include flex(center, center, column, black);
    h1 {
      color: white;
      font-size: 50px;
      font-family: $font;
    }
    h2 {
      font-size: 30px;
      color: white;
      font-family: $font;
    }
    h3 {
      font-size: 15px;
      color: white;
      font-family: $font;
    }
  }
  .img {
    img {
      height: 90vh;
    }
  }
  .svg {
    position: absolute;
    svg {
      position: absolute;
      top: 100px;
      right: -50px;
      width: 100px;
      height: 100px;
      overflow: visible;
      stroke: white;
      stroke-linejoin: round;
      stroke-linecap: round;
    }
  }
}

@media screen and(max-width:516px) {
  .img {
    img {
      width: 100vw;
    }
  }
  .hero {
    justify-content: center;
  }
  .text {
    align-items: center;
    width: 100vw;
  }
}
